.main-course-dtls {
	@include flex(column, $justify: space-evenly);
}

.course-dtls-alert {
	height: 75px;
	width: 100%;
}

.form-course-dtls {
	display: grid;
	background-color: lighten-primary(10%);
	border-radius: 5px;
	padding: 1rem;
	grid-gap: 1rem;
	width: 30vw;
	overflow-y: scroll;
	@include scrollbar;
}
